body{
    background-color: #11062a;
    color: white;
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
}
th, td:first-child {
background: #1c1841;
color: white;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
td {
background: #1c084a;
color: white;
}
th:first-child, td:first-child {
text-align: left;
}